.k{
  
  height: 600px;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
  cursor: pointer;


}
.kk{
  
    position:relative;
   


}
.kk>img{
    width: 100%;
    overflow: hidden;
    height:600px;
}

.kkk{
    
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    position: absolute;
    bottom: 50px;
    left: 40%;


}
.kkk>h1{
font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 53px;
    letter-spacing: -.8px;
    display: block;
    margin: 10px 0 20px;
    color:white;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
   

}
.kkk>button{
         padding: 10px 30px;
      color: black;
      background-color: white;
    
     border: 0px;
}
.ki{
    
    width: 95%;
    height:300px;
    margin: auto;
    
    grid-template-columns: repeat(4,1fr);
    position:relative;
    margin-top: 40px;
    cursor: pointer;
    margin-bottom: 60px;
}
.ki>img{
    width: 100%;
    overflow: hidden;
  height: 300px;
  
}
.kii{
    
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    position: absolute;
    bottom: 60px;
    left: 45%;

    
}
.kii>h1{
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
        font-weight: 500;
        font-size: 60px;
        line-height: 53px;
        letter-spacing: -.8px;
        display: block;
        margin: 10px 0 20px;
        color:black;
        text-align: center;
        margin: auto;
        margin-bottom: 40px;
       
    
    }
    .kii>button{
        padding: 10px 30px;
     color:white;
     background-color:black;
   
    border: 0px;
}
.ku{
    
    width: 95%;
    height:350px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position:relative;
    margin-top: 20px;
    column-gap: 10px;
    cursor: pointer;

}
.ku>div{
    
    position:relative;


}
.ku>div>img{
    width: 100%;
    overflow: hidden;
  height: 350px;
  
    
}
.kuu{
    
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    position: absolute;
    bottom: 30px;
   left: 23%;


}
.kuu>h1{
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-weight:500;
        font-size: 31px;
        text-transform: uppercase;
    line-height: 1.2;
      letter-spacing: .8px;
        display: block;
        margin: 10px 0 20px;
        color:hwb(0 100% 0%);
        text-align: center;
        margin: auto;
        margin-bottom: 15px;
        }
    .kuu>button{
             padding: 10px 30px;
          color: black;
          background-color: white;
        
         border: 0px;
    }
    #kuu{
        left: 34%;
    }
    #h11{
        font-family: Futura,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .8px;
    color: #000;
    margin-top: 65px;
    margin-bottom: 30px;
    cursor: pointer;
    }
    .kimjon{
        
        height:300px;
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        column-gap: 20px;
        cursor: pointer;

    }
    .kimjon>div{
       
        text-align: center;


    }
    .kimjon>div>img{
        width: 100%;
        overflow: hidden;
        height: 250px;
    }
    #set1{
        height: 35px;
        width: 35px;
        margin-left: 0px;
        margin-top: 70%;
        
    }
    #set1>img{
         height: 35px;
         width: 35px;
         overflow: hidden;
    }
    #set2{
        height: 35px;
        width: 35px;
       
        margin-top: 70%;
        margin-left: 80%;
    }
    #set2>img{
         height: 35px;
         width: 35px;
         overflow: hidden;
    }
    #shopnow{
        color: #FFFFFF!important;
    background-color: #000000;
    width: auto;
    display: inline-block;
    text-align: center;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 8px 20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
    