body{
    font-size: 14px;
    letter-spacing: .8px;
   
}


#parent{
    width: 95%;
    height: 50px;
    display: flex;
    justify-content:space-between;
   
   
    margin: auto;
    margin-top: -8px;
  cursor: pointer;
  
}
#parent>div{
   
    display: flex;

}
#div1{
    width: auto;
    column-gap: 7px;
    color: rgb(91, 89, 89);
    font-family: Arial,Helvetica,sans-serif;
    
}
a{
    text-decoration: none;
    color:rgb(91, 89, 89);;
}
#div1>div{
    width:auto;
    height: 100%;
   
  /* border: 1px solid red ; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  
}
#div1>div:hover{
  background-color: rgb(237, 237, 237);
    
}
#div2{
    width:auto;
    height: 100%;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(126, 124, 124);
   
}
#div2>div{
    width:auto;
    height: 100%;
   
 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    
  
}
#div2>div:hover{
  color: black;
    
}
#mid{
    border: 1px solid red;
    display: flex;
    width: 95%;
    height: 45px;
    cursor: pointer;
   
   
    margin: auto;
    margin-top: 50px;
}
#mid>img{
 display: block;
 margin: auto;
 height: 40px;
 margin-right: 380px
}
#mid>div{
    border: 1px solid red;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;

}
#d{
    border: 1px solid black;
    height: 50px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    cursor: pointer;

}
#d>#d1{
    border:1px solid red ;
    height: 100%;
    width: auto;
     display: flex;
     

}
#d>#d1>div{
    border: 1px solid red;
    height: 100%;
    width: auto;
    padding-left: 0px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial,Helvetica,sans-serif;
 
   color: gray;
}
#d>#d1>div:hover{
    color: black;
}
#d>#d2{
    border: 1px solid red;
    
   
    height: 100%;
    width:300px;
    box-sizing: inherit;
}
#d>#d2>input{
    position: absolute;
    right:44px;
    color: gray;
    margin-top: 12.5px;
    padding: 4px 50px;
   
   
}
#p{
    border: 1px solid red;
    height: 50px;
    width: 95%;
    margin: auto;
    font-family: Futura, Century Gothic, Gill Sans, Helvetica, Arial, sans-serif;
    letter-spacing: 0.2px;
    font-size: 15px;
    color: #9f2943;
    line-height: normal;
    text-align: center;
    position: relative;
    top: 50%;
    margin: 0 40px;
    white-space:nowrap;
    margin: auto;
    cursor: pointer;
    
}
   #pic>img{
   
    width: 95%;
justify-content: center;
cursor: pointer;
box-sizing: inherit;
margin-left: 35px;
cursor: pointer;
  
   }
   #idd{
    height:auto;
    width: 95%;
    border: 1px solid red;
   background-color: rgb(243, 240, 240);
   cursor: pointer;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  box-sizing: inherit;
   }
   #idd>h4{
    margin-bottom: 10px;
    letter-spacing: -.01em;
    font-size: 17px;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: rgb(7, 7, 7);
    font-weight: 400;
    margin-top: 0px;
}
        
   

   #idd>h1{
    font-size: 34px;
   margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  
  
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    color: #000;
    font-weight: 0;
}
    


   
    #idd>h5{
        font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    line-height: 26px;
    padding: 0 35px;
    font-size: 15px;
    color: rgb(8, 6, 6);
    margin-top: 0;

}

    
    .midbutton{
      
        color: white;
        background-color: black;
        font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 17px;
    text-transform: uppercase;
  
    padding: 10px 20px;
    border: none;
    text-align: center;
 
  
 

    }
    .hh{
        border: 1px solid red;
        height: 120px;
        width: 95%;
        display: flex;
        margin: auto;
        cursor: pointer;
        margin-top: 50px;
    }
    .hh>div{
        border: 1px solid black;
        height: 100%;
        width: 37%;
        display: grid;
        text-align: center;
        margin: auto;

    }
    .hs1{
        font-size: 17px;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    margin-top: 0;
  
 

    }
    .ha1{
        font-size: 36px;
        max-width: 580px;
    margin-left: auto;
    margin-right: auto;
  
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    color: #000;
    font-weight: 400;
    margin-top: -10px
  
  
}
 .now{
    height:auto;
    width: 95%;
    border: 1px solid black;
    margin: auto;
   
    cursor: pointer;
    margin-top: 40px;
   column-gap: 30px;
   justify-content: space-between;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

}
.no{
    border: 1px solid red;

    
  
    
    text-align: center;
    
    font-size: 14px;
    letter-spacing: .8px;
   
}
.no>img{
    height:87%;
    width:100%;
    overflow: hidden;
}
.button{
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color:black;
    color: white;
    padding: 10px 30px;
    margin-top:40px;


}
.noo{
    border: 1px solid red;
   
   
   
    text-align: center;
    
    font-size: 14px;
    letter-spacing: .8px;
    display: grid;
    row-gap: 10px;
    

}
.noo>.me{
   
height:450px;
width: 100%;
    border: 1px solid red;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;


}
.im{
    height: 67%;
    width: 100%;
    overflow: hidden;
}
.text{
    border: 1px solid black;
    height: 120px;
   
   width:500px;
   margin: auto;
   margin-bottom: 50px;
   margin-top: 30px;
   text-align: center;
   


}
.noo>.mee{
    border: 1px solid red;
    height: 450px;
    width: 100%;

}
.hhh{
    border: 1px solid red;
    height: 120px;
    width: 600px;
    margin: auto;
    margin-top: 55px;
    text-align: center;
}

    #last{
        border: 1px solid red;
        height: 320px;
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 25px;
        margin-top: 40px;
        text-align: center;
    }
    .la>img{
        height: 80%;
        width: 100%;
        overflow: hidden;
    }
    .la>h4{
        margin-top: 7px;
    }


    #midd{
        width: 95%;
        border: 1px solid red;
         height: auto;
         margin: auto;
       
         justify-content: center;
         text-align: center;
         margin-bottom: 100px;
    }
   
    


   